body{
    background: #f3f5f9;
}

.card-header{
    border: 2px solid slategray;
}

.col-6{
    margin-top: 50px;
    font-size: 30px;
}

.bottom{
    margin-top: 400px;
    margin-left: 250px;
}

.buttons{
    position: absolute;
    top: 100px;
    left: 720px;
}

.buttons a{
    padding: 40px;
    font-size: 17px;
}

.buttons1{
    position: absolute;
    top: 220px;
    left: 720px;
}

.buttons1 a{
    padding: 40px;
    font-size: 17px;
}

.buttons2{
    position: absolute;
    top: 340px;
    left: 720px;
}

.buttons2 a{
    padding: 40px;
    font-size: 17px;
}

.buttons3{
    position: absolute;
    top: 460px;
    left: 720px;
}

.buttons3 a{
    padding: 40px;
    font-size: 17px;
}

.buttons4{
    position: absolute;
    top: 585px;
    left: 720px;
}

.buttons4 a{
    padding: 40px;
    font-size: 20px;
    background: rgb(155, 247, 18);
    color: black;
}

.buttons4 a:hover{
    background: rgb(155, 247, 18);
}