body{
    background: #79a2f5;
}

.shadow-lg{
    position: absolute;
    top: 210px;
    left: 510px;
}

.card-header{
    text-align: center;
    font-size: 40px;
    height: 80px;
    font-weight: 100;
}

.card-body span{
    font-size: 25px;
    margin-left: 120px;
}

.col-6{
    text-align: center;
}

.col-6 input{
    position: relative;
    top: 20px;
    left: 30px;
    width: 300px;
    height: 50px;
    border: 2px solid green;
}

.col button{
    position: relative;
    top: 20px;
    left: 120px;
    height: 50px;
    width: 90px;
}