@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

body{
    background: #f3f5f9;
}

.navbar{
    background: slategray;
}
.container-fluid .navbar-brand{
    color:seashell;
    font-size: 40px;
}

.container-fluid .navbar-brand span{
    color: lightgreen;
    font-size: 40px;
}

.navbar-nav{
    margin-left: 50px;
}

li{
    margin-right: 30px;
}
.active .nav-link{
    color: lightgreen;
    font-size: 20px;
}

.nav-item .nav-link{
    color: seashell;
    font-size: 20px;
}

.nav-item .nav-link:hover{
    color: lightgreen;
}

.dropdown-menu{
    background: #f3f5f9;
}

.dropdown-menu .dropdown-item{
    color: black;
}

table{
    margin-top: 50px;
}

